* {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;

}

header > div:first-child {
    min-height: 90px;
}

/*.navbar {
  position: fixed;
  z-index: 20000000000;
  box-shadow: 0 1px 1.5px rgba(0,0,0,.12);
  background: #FFF;
  border-radius:0px;
  width:100%;
}*/

header ul {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: right;
    padding-right: 80px;
}

header li {
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 20px;
    font-size: 14px;
}

header li a {
    color: #333;
    cursor: pointer;
}

header li a:hover {
    text-decoration: none;
}

header .logo {
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
}

@media (max-width: 992px) {
    header > div:first-child {
        min-height: 160px;
        text-align: center;
    }

    header > div:first-child img {
        margin-left: 0;
    }

    header ul {
        text-align: center;
    }
}

.cover {
    background-image: url(images/home/background.jpg);
    width: 100%;
    height: 720px;
}

.cover > div {
    height: 720px;
    display: table;
}

.cover h1 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    line-height: 70px;
    display: table-cell;
    vertical-align: middle;
}

.cover .play {
    display: table-cell;
    vertical-align: middle;
    padding-left: 190px;
}

.cover .play img {
    cursor: pointer;
}

h2 {
    color: #0061a8;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 100px;
}

p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
}

.card {
    width: 250px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
    margin: 50px auto;
}

.card img {
  max-height: 170px;
  overflow:hidden;
}

.card p {
    margin: 30px auto;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 700;
}

.btn {
    border: 2px solid #0061a8;
    border-radius: 100px;
    color: #0061a8;
    font-size: 20px;
    font-weight: 700;
    padding: 0 50px;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #0061a8;
    color: #ffffff;
}

.nos-chantiers {
    background-image: url(images/home/nos-chantiers.jpg);
    background-repeat: no-repeat;
    margin-top: 100px;
    background-size: 50%;
    background-position-y: 100%;
}

.nos-chantiers > div {
    padding-left: 100px;
}

.key-numbers {
    background-color: #0061a8;
    color: #ffffff;
    min-height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.key-numbers h4 {
    font-size: 28px;
    font-weight: 300;
}

.key-numbers h3 {
    font-size: 57px;
    font-weight: 500;
}

.key-numbers sub {
    bottom: 0;
    font-size: 0.4em;
    font-weight: 300;
}

.key-numbers > div {
    display: table;
    height: 100%;
}

.key-numbers > div > div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.key-numbers > div > div.separator {
    width: 1px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    position: absolute;
    top: 30px;
}

.key-numbers > div > div > div {
    width: 100%;
    text-align: center;
    padding-right: 20px;
}

.key-numbers > div:last-of-type > div > div {
    border-right: none;
}

.nos-innovations {
    background-image: url(images/home/nos-innovations.png);
    min-height: 630px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 50%;
}

.nos-innovations > div {
    padding-left: 100px;
}

.map {
    background-image: url(images/home/map.jpg);
    width: 100%;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

footer {
    color: #ffffff;
    height: 90px;
    font-size: 15px;
    font-weight: 400;
    line-height: 90px;
    text-align: center;
}

footer div {
    height: 100%;
}

footer div:first-of-type {
    background-color: #a31930;
}

footer div:last-of-type {
    background-color: #c31431;
}

footer div:last-of-type img {
    margin-right: 20px;
}


/*Specialités*/

.cover-spe {
    background-image: url(images/specialites/header-background.jpg);
    width: 100%;
    height: 450px;
}

.cover-spe > div {
    height: 520px;
    display: table;
}

.cover-spe h1 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    line-height: 50px;

}

.page-title{
  display: table-cell;
  vertical-align: middle;
}

.cover-spe p {
  font-size: 20px;
  color: #ffffff;

}

.specialite {
  padding-top:50px;
  padding-bottom:70px;
  padding-left: 50px;
  padding-right: 50px;
  font-size:16px;
  color:#324147;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);

}

.specialite li {
  padding-top: 20px;
  list-style: none;
}

.specialite li::before {
  content: "•"; color: #0061a8;
  padding:10px;
}

.large-image-middle {
    margin-top:100px;
    background-image: url(images/specialites/photo-3.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.large-image-bottom {
    margin-top:100px;
    background-image: url(images/specialites/photo-6.jpg);
    width: 100%;
    height: 450px;
    background-size:cover;
}

.container{
  margin-top:100px;
}

#main-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 10000;
    height: 100%;
}

#main-video a {
    color: white;
    font-size: 46px;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 33px;
    z-index: 10000;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

#main-video a:hover {
    text-decoration: none;
}

#main-video iframe {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 95vw;
    height: 90vh;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .nos-chantiers .col-md-6 {
        padding-left: 320px;
    }

    .cover > div {
        padding: 0;
        display: table;
        text-align: center;
        margin: 0 auto;
    }

    .nos-innovations > div {
        padding-left: 40px;
    }
}

@media (max-width: 767px) {
    .cover {
        height: 490px;
        background-position: 40% 0%;
    }

    .cover h1 {
        font-size: 40px;
        color: #ffffff;
        font-weight: 700;
        line-height: 50px;
    }

    h2 {
        margin-top: 0;
    }

    .nos-chantiers .col-sm-12 {
        padding-left: 0;
    }

    .nos-chantiers {
        background-size: auto 330px;
        background-position-y: 0;
        background-position-x: 50%;
        padding-top: 140px;
    }

    .nos-innovations {
        background-position: 50% 0;
        background-size: auto 330px;
        padding-top: 240px;
    }

    .nos-innovations > div,
    .nos-chantiers > div {
        padding-left: 30px;
        text-align: center;
    }

    .nos-innovations h2,
    .nos-chantiers h2 {
        margin-top: 100px;
    }

    .cover > div {
        height: auto;
        padding: 30px;
        display: table;
        text-align: center;
        margin: 0 auto;
    }

    .cover .play {
        padding-left: 0;
    }

    .key-numbers .col-xs-12 {
        float: none;
    }

    .map {
        height: 100px;
    }
}
