* {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;

}

header > div:first-child {
    min-height: 90px;
}

/*.navbar {
  position: fixed;
  z-index: 20000000000;
  box-shadow: 0 1px 1.5px rgba(0,0,0,.12);
  background: #FFF;
  border-radius:0px;
  width:100%;
}*/

header{
  background-color: #FFF;
}

header ul {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: right;
    padding-right: 80px;
}

header li {
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 20px;
    font-size: 14px;
}

header li a {
    color: #333;
    cursor: pointer;
}

header li a:hover {
    text-decoration: none;
}

header .logo {
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
}

@media (max-width: 992px) {
    header > div:first-child {
        min-height: 160px;
        text-align: center;
    }

    header > div:first-child img {
        margin-left: 0;
    }

    header ul {
        text-align: center;
    }
}

#home {
  background: url(images/home/background.jpg) 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding-left:190px;
}

/*.cover {
    background-image: url(images/home/background.jpg);
    width: 100%;
    height: 720px;
}*/

.cover > div {
    height: 720px;
    display: table;
}

.cover h1 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    line-height: 70px;
    display: table-cell;
    vertical-align: middle;
}

.cover .play {
    display: table-cell;
    vertical-align: middle;
    padding-left: 190px;
}

.cover .play img {
    cursor: pointer;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.metiers{
  margin-top:100px;
}

h2 {
    color: #0061a8;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 100px;
}

p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
}

.card {
    width: 250px;
    overflow: hidden;
    text-align: center;
    margin: 50px auto;
}

.card img {
  max-height: 170px;
  overflow:hidden;
}

.card p {
    margin: 30px auto;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 700;
}

.btn {
    border: 2px solid #0061a8;
    border-radius: 100px;
    color: #0061a8;
    font-size: 20px;
    font-weight: 500;
    padding: 0 50px;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #0061a8;
    color: #ffffff;
}

.nos-chantiers {
    background-image: url(images/home/nos-chantiers.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 50%;
    background-position-y: 100%;
    min-height: 630px;
}

.nos-chantiers > div {
    padding-left: 100px;
}
/*
.key-numbers {
    background-color: #0061a8;
    color: #ffffff;
    min-height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.key-numbers h4 {
    font-size: 28px;
    font-weight: 300;
}

.key-numbers h3 {
    font-size: 57px;
    font-weight: 500;
}

.key-numbers sub {
    bottom: 0;
    font-size: 0.4em;
    font-weight: 300;
}

.key-numbers > div {
    display: table;
    height: 100%;
}

.key-numbers > div > div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.key-numbers > div > div.separator {
    width: 1px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    position: absolute;
    top: 30px;
}

.key-numbers > div > div > div {
    width: 100%;
    text-align: center;
    padding-right: 20px;
}

.key-numbers > div:last-of-type > div > div {
    border-right: none;
}*/

/*----- Chiffres ---*/

.ouest-counter {
  max-height: 300px;
  font-size: 50px;
  display: block;
  color: #fff;
  width: 100%;
  font-family: Raleway, arial, sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.ouest-counter-label {
  color: #fff;
  font-size: 16px;
  font-family: Raleway, arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: block;
}

.ouest-bg-section {
  max-height: 300px;
  color: #fff;
  background-color: #e9e9e9;
  background-size: cover;
  background-position: top center;
  margin-top: 0px;
  z-index: 10;
  position: relative;
}

.ouest-section-heading h2{
  font-size: 30px;
  color: #0061A8;
  font-family: Raleway;
  font-weight: 500;
}

.ouest-hero-wrap, .ouest-bg-section {
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  .ouest-hero-wrap, .ouest-bg-section {
    max-height: 700px;
    padding: 3em 0;
  }
}

.ouest-bg-section .ouest-hero-wrap {
  display: table;
  width: 100%;
  z-index: 12;
  position: relative;
}
.ouest-bg-section .ouest-hero-wrap .ouest-hero-intro {
  display: table-cell;
  vertical-align: middle;
}
.ouest-bg-section .ouest-hero-wrap .ouest-hero-intro .ouest-lead, .ouest-bg-section .ouest-hero-wrap .ouest-hero-intro .ouest-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.ouest-sub p{
  font-size: 13px;
  line-height: 34px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.ouest-bg-section .ouest-hero-wrap .ouest-hero-intro .ouest-lead {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .ouest-bg-section, .ouest-hero-wrap {
    height: inherit;
  }
}


.bg-interlude {
  color: #fff;
  background-color: #e9e9e9;
  background-size: cover;
  background-position: top center;
  margin-top: 0px;
  z-index: 10;
  position: relative;
}

.nos-innovations {
    background-image: url(images/home/nos-innovations.png);
    min-height: 630px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 50%;
}

.nos-innovations > div {
    padding-left: 100px;
}

.map {
    background-image: url(images/home/map.jpg);
    width: 100%;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

footer {
    color: #ffffff;
    height: 90px;
    font-size: 15px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
}

footer div {
    height: 100%;
}

footer div:first-of-type {
    background-color: #a31930;
}

footer div:last-of-type {
    background-color: #c31431;
}

footer div:last-of-type img {
    margin-right: 20px;
}

#main-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10000;
    height: 100%;
}

#main-video a {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 20px;
    line-height: 40px;
    z-index: 10000;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(37, 37, 37, 0);
}

#main-video a:hover {
    text-decoration: none;
}

#main-video iframe {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 95vw;
    height: 90vh;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .nos-chantiers .col-md-6 {
        padding-left: 320px;
    }

    .cover > div {
        padding: 0;
        display: table;
        text-align: center;
        margin: 0 auto;
    }

    .nos-innovations > div {
        padding-left: 40px;
    }
}

@media (max-width: 767px) {
    .cover {
        height: 490px;
        background-position: 40% 0%;
    }

    .cover h1 {
        font-size: 40px;
        color: #ffffff;
        font-weight: 700;
        line-height: 50px;
    }

    h2 {
        margin-top: 0;
    }

    .nos-chantiers .col-sm-12 {
        padding-left: 0;
    }

    .nos-chantiers {
        background-size: auto 330px;
        background-position-y: 0;
        background-position-x: 50%;
        padding-top: 140px;
    }

    .nos-innovations {
        background-position: 50% 0;
        background-size: auto 330px;
        padding-top: 240px;
    }

    .nos-innovations > div,
    .nos-chantiers > div {
        padding-left: 30px;
        text-align: center;
    }

    .nos-innovations h2,
    .nos-chantiers h2 {
        margin-top: 100px;
    }

    .cover > div {
        height: auto;
        padding: 30px;
        display: table;
        text-align: center;
        margin: 0 auto;
    }

    .cover .play {
        padding-left: 0;
    }

    .key-numbers .col-xs-12 {
        float: none;
    }

    .map {
        height: 100px;
    }
}
